<BCHModal @ref="_bchModal"
          Width="600px"
          Height="50%"
          ShowOverlay="false"
          X="@($"{_pos.X.ToString(_nF)}px")"
          Y="@($"{_pos.Y.ToString(_nF)}px")"
          ZIndex="_zIndex"
          Show="true">
    <div id="@_chartContainerId" 
         class="chart-wrapper">
        <div id="@_controlPanelId"
             class="control-panel">
            <div class="close-btn" @onclick="CloseGraph"></div>
            <div class="info noselectable-text">@((MarkupString)GetInfoLabel())</div>
        </div>
        <div class="graph-wrapper">
            <div class="graph">
                <BCHGraph2D DataArray="_data"
                            CellXValuesCount="2"
                            XLabel='(i => $"{2 * i * (ChartInfo.SolverState.DeltaTime / 0.001f)} ms")'
                            CellYValues="0.1f"
                            YLabel='(i => $"{0.1f * i} {ChartInfo.VerticalLetter}")'
                            FuncModifier="ChartInfo.FuncModifier"/>
            </div>
        </div>
    </div>
</BCHModal>

<style>
    .chart-wrapper > .control-panel > .info sub-i {
        height: 8px;
        font-family: Nunito;
        font-style: normal;
        font-weight: 400;
        font-size: 7px;
        line-height: 19px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /*Internet Explorer/Edge */
        user-select: none; /*Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
    }
                
    .chart-wrapper > .control-panel > .info i {
        height: 10px;
        font-family: Nunito;
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 19px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /*Internet Explorer/Edge */
        user-select: none; /*Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
    }
</style>