@using Circuits.ViewModels.Entities.Elements
<div @key="@Wire"
     draggable="true"
     @ondragenter="() => { }"
     @ondragenter:preventDefault
     @onextdragstart="OnDragStart"
     @onextdragstart:preventDefault="@_dragAllowed"
     @onextdragend="OnDragEnd"
     class="@($"wire element {(_horizontal ? "horizontal" : "vertical")} {(_selectedElement == Wire ? "selected" : "")} {(_draggingElement == Wire && _firstDragOver ? "dragging" : "")} {(_eventsDisabled ? "disabled" : "")}")"
     style="@($"left: {Wire.P1.X * CellSize}px; top: {Wire.P1.Y * CellSize}px; width: {Math.Abs(Wire.P2.X * CellSize - Wire.P1.X * CellSize)}px; height: {Math.Abs(Wire.P2.Y * CellSize - Wire.P1.Y * CellSize)}px;")">

    <div @onclick="OnElementClicked"
         @onclick:stopPropagation
         onmousedown="event.stopPropagation()"
         onmousemove="event.preventDefault()"
         class="wire-content">

        <div class="circle"></div>
        <div class="circle"></div>

    </div>

</div>

@if (_draggingElement == Wire && _firstDragOver)
{
    var draggingElement = (Wire)_draggingElement;

    <div class="@($"wire dragged {(_horizontal ? "horizontal" : "vertical")} {(_selectedElement == draggingElement ? "selected" : "")}")"
         style="@($"left: {_draggingPos.X.ToString(_nF)}px; top: {_draggingPos.Y.ToString(_nF)}px; width: {Math.Abs(draggingElement.P2.X * CellSize - draggingElement.P1.X * CellSize)}px; height: {Math.Abs(draggingElement.P2.Y * CellSize - draggingElement.P1.Y * CellSize)}px;")">

        <div class="wire-content">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>

    </div>
}