@using Circuits.ViewModels.Entities.Elements
@using Circuits.Shared.Extensions

@{
    var pos = GetPosition();
}

<div @key="@DCSource"
     draggable="true"
     @ondragenter="() => { }"
     @ondragenter:preventDefault
     @onextdragstart="OnDragStart"
     @onextdragstart:preventDefault="@_dragAllowed"
     @onextdragend="OnDragEnd"
     class="@($"dc-source element {(_selectedElement == DCSource ? "selected" : "")} {(_draggingElement == DCSource && _firstDragOver ? "dragging" : "")} {(_eventsDisabled ? "disabled" : "")} {(_highlightService.IsHighlighted(DCSource) ? "highlighted" : "")}")"
     style="@($"left: {pos.X}px; top: {pos.Y}px; width: {GetWidth()}px; transform: translateX(2px) rotate({DCSource.Direction.GetValue<int, DirectionValueAttribute>(x => x.Angle)}deg);")">

    <div @onclick="OnElementClickedAsync"
         @onclick:stopPropagation
         onmousedown="event.stopPropagation()"
         onmousemove="event.preventDefault()"
         class="dc-source-content">

        <div class="circle"></div>
        <div class="circle"></div>

        <div class="block">
            <div class="delimiter"></div>
            <div class="delimiter short"></div>
        </div>
    </div>

</div>

@if (_draggingElement == DCSource && _firstDragOver)
{
    var draggingElement = (DCSource)_draggingElement;
    var dragPos = GetPosition(true);

    <div class="@($"dc-source dragged {(_selectedElement == draggingElement ? "selected" : "")} {(_highlightService.IsHighlighted(DCSource) ? "highlighted" : "")}")"
         style="@($"left: {dragPos.X}px; top: {dragPos.Y}px; width: {GetWidth()}px; transform: translate({_draggingPos.X.ToString(_nF)}px, {_draggingPos.Y.ToString(_nF)}px) rotate({DCSource.Direction.GetValue<int, DirectionValueAttribute>(x => x.Angle)}deg);")">

        <div class="dc-source-content">
            <div class="circle"></div>
            <div class="circle"></div>

            <div class="block">
                <div class="delimiter"></div>
                <div class="delimiter short"></div>
            </div>
        </div>

    </div>
}