<div class="navigation-cnt">
    <div class="control-block">

        @ControlTemplate

        <div class="icon min"
             @onmousedown="async () => { await OnZoomDownAsync(-0.1f); }"
             @onmouseup="OnZoomUp"
             @onmouseout="OnZoomUp">
            <div class="noselectable-text">-</div>
        </div>
        <div class="icon mag"
             @onmousedown="async () => { await OnZoomDownAsync(+0.1f); }"
             @onmouseup="OnZoomUp"
             @onmouseout="OnZoomUp">
            <div class="noselectable-text">+</div>
        </div>
    </div>

    <div 
        id="@_wrapperId" 
        class="scroll-cnt navigation-cs-container" 
        @onextmousewheel="OnMouseWheel">

        <div id="@_navigationId"
             @onmousedown="OnMouseDown"
             @onmouseup="OnMouseLeaveUp"
             @onmouseleave="OnMouseLeaveUp"
             class="scroller navigation-cs-panel"
             style="@($"width: {_size.X.ToString(_nF)}px; height: {_size.Y.ToString(_nF)}px; " + $"transform: translate({_pos.X.ToString(_nF)}px, {_pos.Y.ToString(_nF)}px) " + $"scale({_scale.ToString(_nF)}, {_scale.ToString(_nF)}); " + $"{(_dragStarted ? "transition: transform 0s; cursor: move;" : "")}")">

            @ContentTemplate(_navigationPlaneContext)

            @*<div class="marker" style="@($"left: {(_zoomTarget.X).ToString(_nF)}px; top: {(_zoomTarget.Y).ToString(_nF)}px;")"></div>*@
        </div>

    </div>
</div>