
<div class="navigation-cnt">

    <div class="control-block">
        <div class="icon min"
             @onmousedown="async () => { await OnZoomDownAsync(-0.01f); }"
             @onmouseup="OnZoomUp"
             @onmouseout="OnZoomUp">
            <div class="noselectable-text">-</div>
        </div>
        <div class="icon mag"
             @onmousedown="async () => { await OnZoomDownAsync(0.01f); }"
             @onmouseup="OnZoomUp"
             @onmouseout="OnZoomUp">
            <div class="noselectable-text">+</div>
        </div>
    </div>

    <div class="scroll-cnt navigation-cs-container" @onextmousewheel="OnMouseWheel">

        <div @onextmousemove="OnMouseMove"
             @onmousedown="OnMouseDown"
             @onmouseup="OnMouseUpOut"
             @onmouseout="OnMouseUpOut"
             class="scroller navigation-cs-panel"
             style="@(
                $"transform: " +
                    $"translate({_pos.X.ToString(_nF)}px, {_pos.Y.ToString(_nF)}px) " +
                    $"scale({_scale.ToString(_nF)}, {_scale.ToString(_nF)}); " +
                $"{(_dragStarted ? "transition: transform 0s;" : "")}"
             )">
            @*$"transform-origin: {_savedZoomPos.X.ToString(_numberFormatWithDot)}px {_savedZoomPos.Y.ToString(_numberFormatWithDot)}px;"*@

            @for (int i = 0; i < 3000 / 30 + 5; i++)
            {
                <div class="horizontal-delimiter"
                     style="@($"top: calc(30px * ({i - 5}));")">
                </div>

                <div class="vertical-delimiter"
                     style="@($"left: calc(30px * ({i - 5}));")">
                </div>
            }

            @*<div class="marker" style="@($"left: {(_zoomTarget.X).ToString(_nF)}px; top: {(_zoomTarget.Y).ToString(_nF)}px;")"></div>*@
            @*<div class="marker blue" style="@($"left: {(_zoomPoint.X).ToString(_nF)}px; top: {(_zoomPoint.Y).ToString(_nF)}px;")"></div>*@

        </div>

    </div>
</div>

