@using Circuits.ViewModels.Entities.Elements
@using Circuits.Shared.Extensions
@using Circuits.Shared.Attributes
<div @key="@Transistor"
     draggable="true"
     @ondragenter="() => { }"
     @ondragenter:preventDefault
     @onextdragstart="OnDragStart"
     @onextdragstart:preventDefault="@_dragAllowed"
     @onextdragend="OnDragEnd"
     class="@($"transistor element {(Transistor.BipolarType == BipolarTransistorType.NPN ? "npn" : "pnp")} {(_selectedElement == Transistor ? "selected" : "")} {(_draggingElement == Transistor && _firstDragOver ? "dragging" : "")} {(_eventsDisabled ? "disabled" : "")}")"
     style="@($"left: {(Transistor.P1.X - Transistor.ShiftFromTopLeft.X) * CellSize}px; top: {(Transistor.P1.Y - Transistor.ShiftFromTopLeft.Y) * CellSize}px; width: {2 * CellSize}px; height: {2 * CellSize}px;")">

    <div @onclick="OnElementClickedAsync"
         @onclick:stopPropagation
         onmousedown="event.stopPropagation()"
         onmousemove="event.preventDefault()"
         class="transistor-content"
         style="@($"transform: rotate({Transistor.Direction.GetValue<int, DirectionValueAttribute>(x => x.Angle)}deg) scale(1, {(Transistor.IsFlipped ? -1 : 1)});")">

        <div class="circle selectable"></div>
        <div class="circle selectable"></div>
        <div class="circle selectable"></div>

        <div class="main-circle">
            <div class="w2"></div>
            <div class="w3"></div>

            <div class="arrow"></div>
        </div>

        <div class="base"></div>
        <div class="w1"></div>

        <div class="w2 selectable"></div>
        <div class="w3 selectable"></div>
    </div>

</div>

@if (_draggingElement == Transistor && _firstDragOver)
{
    var draggingElement = (Transistor)_draggingElement;

    <div class="@($"transistor dragged {(Transistor.BipolarType == BipolarTransistorType.NPN ? "npn" : "pnp")} {(_selectedElement == draggingElement ? "selected" : "")}")"
         style="@($"left: {_draggingPos.X.ToString(_nF)}px; top: {_draggingPos.Y.ToString(_nF)}px; width: {2 * CellSize}px; height: {2 * CellSize}px;")">

        <div class="transistor-content" 
             style="@($"transform: rotate({Transistor.Direction.GetValue<int, DirectionValueAttribute>(x => x.Angle)}deg) scale(1, {(Transistor.IsFlipped ? -1 : 1)});")">
            <div class="circle selectable"></div>
            <div class="circle selectable"></div>
            <div class="circle selectable"></div>

            <div class="main-circle">
                <div class="w2"></div>
                <div class="w3"></div>

                <div class="arrow"></div>
            </div>

            <div class="base"></div>
            <div class="w1"></div>

            <div class="w2 selectable"></div>
            <div class="w3 selectable"></div>

        </div>

    </div>
}