@using Circuits.ViewModels.Entities.Elements
@using Circuits.Shared.Extensions

@{
    var pos = GetPosition();
}

<div @key="@Inductor"
     draggable="true"
     @ondragenter="() => { }"
     @ondragenter:preventDefault
     @onextdragstart="OnDragStart"
     @onextdragstart:preventDefault="@_dragAllowed"
     @onextdragend="OnDragEnd"
     class="@($"inductor element {(_selectedElement == Inductor ? "selected" : "")} {(_draggingElement == Inductor && _firstDragOver ? "dragging" : "")} {(_eventsDisabled ? "disabled" : "")} {(HighlightService.IsHighlighted(Inductor) ? "highlighted" : "")}")"
     style="@($"left: {pos.X}px; top: {pos.Y}px; width: {GetWidth()}px; transform: translateX(2px) rotate({Inductor.Direction.GetValue<int, DirectionValueAttribute>(x => x.Angle)}deg);")">

    <div @onclick="OnElementClickedAsync"
         @onclick:stopPropagation
         onmousedown="event.stopPropagation()"
         onmousemove="event.preventDefault()"
         class="inductor-content">

        <div class="circle"></div>
        <div class="circle"></div>

        <div class="block">
            <div class="half-circle"></div>
            <div class="half-circle"></div>
            <div class="half-circle"></div>
        </div>
        
        <ElementDetailsComponent Element="Inductor"/>
        
    </div>

</div>

@if (_draggingElement == Inductor && _firstDragOver)
{
    var draggingElement = (Inductor)_draggingElement;
    var dragPos = GetPosition(true);

    <div class="@($"inductor dragged {(_selectedElement == draggingElement ? "selected" : "")} {(HighlightService.IsHighlighted(Inductor) ? "highlighted" : "")}")"
         style="@($"left: {dragPos.X}px; top: {dragPos.Y}px; width: {GetWidth()}px; transform: translate({_draggingPos.X.ToString(_nF)}px, {_draggingPos.Y.ToString(_nF)}px) rotate({Inductor.Direction.GetValue<int, DirectionValueAttribute>(x => x.Angle)}deg);")">

        <div class="inductor-content">
            <div class="circle"></div>
            <div class="circle"></div>

            <div class="block">
                <div class="half-circle"></div>
                <div class="half-circle"></div>
                <div class="half-circle"></div>
            </div>
        </div>

    </div>
}