@using Circuits.ViewModels.Entities.Elements
<div @key="@Capacitor"
     draggable="true"
     @ondragenter="() => { }"
     @ondragenter:preventDefault
     @onextdragstart="OnDragStart"
     @onextdragstart:preventDefault="@_dragAllowed"
     @onextdragend="OnDragEnd"
     class="@($"capacitor element {(_horizontal ? "horizontal" : "vertical")} {(_selectedElement == Capacitor ? "selected" : "")} {(_draggingElement == Capacitor && _firstDragOver ? "dragging" : "")} {(_eventsDisabled ? "disabled" : "")}")"
     style="@($"left: {Capacitor.P1.X * CellSize}px; top: {Capacitor.P1.Y * CellSize}px; width: {Math.Abs(Capacitor.P2.X * CellSize - Capacitor.P1.X * CellSize)}px; height: {Math.Abs(Capacitor.P2.Y * CellSize - Capacitor.P1.Y * CellSize)}px;")">

    <div @onclick="OnElementClicked"
         @onclick:stopPropagation
         onmousedown="event.stopPropagation()"
         onmousemove="event.preventDefault()"
         class="capacitor-content">

        <div class="circle"></div>
        <div class="circle"></div>

        <div class="block">
            <div class="delimiter"></div>
            <div class="delimiter"></div>
        </div>
    </div>

</div>

@if (_draggingElement == Capacitor && _firstDragOver)
{
    var draggingElement = (Capacitor)_draggingElement;

    <div class="@($"capacitor dragged {(_horizontal ? "horizontal" : "vertical")} {(_selectedElement == draggingElement ? "selected" : "")}")"
         style="@($"left: {_draggingPos.X.ToString(_nF)}px; top: {_draggingPos.Y.ToString(_nF)}px; width: {Math.Abs(draggingElement.P2.X * CellSize - draggingElement.P1.X * CellSize)}px; height: {Math.Abs(draggingElement.P2.Y * CellSize - draggingElement.P1.Y * CellSize)}px;")">

        <div class="capacitor-content">
            <div class="circle"></div>
            <div class="circle"></div>

            <div class="block">
                <div class="delimiter"></div>
                <div class="delimiter"></div>
            </div>
        </div>

    </div>
}