@using Circuits.ViewModels.Entities.Structures

<div class="solver-inspector">

    <div class="scroller">

        @* <div class="separator"> *@
        @*     <div class="line"></div> *@
        @* </div> *@

        <div class="circuits">

            @for (var i = 0; i < SchemeService.Graphs.Count; i++)
            {
                var graph = SchemeService.Graphs[i];
                var graphBranches = graph.Circuits.SelectMany(circuit => circuit.Branches).ToList();
                var circuitBranches = graph.Circuits
                    .SelectMany(c => c.Branches
                        .Select(b => new CircuitBranch
                        {
                            Circuit = c,
                            Branch = b
                        }));

                <BCHSelect TItem="CircuitBranch"
                           Width="120"
                           Options="@circuitBranches"
                           Height="300"
                           Filtering="false"
                           Grouping="true"
                           MultipleSelect="true"
                           DefaultText="@($"Graph {i}")"
                           GroupPredicate="x => x.Circuit"
                           FilterByPredicate='x => $"branch {x.Circuit.Branches.IndexOf(x.Branch)}"'>

                    <GroupTemplate Context="circuitObj">
                        @{ var circuit = (Circuit)circuitObj!; }

                        <div class="circuit-wrapper">
                            <div class="name noselectable-text">Circuit <i class="noselectable-text">@(graph.Circuits.IndexOf(circuit))</i></div>
                            <div class="controls">
                                <div @onclick="() => { }"
                                     @onclick:stopPropagation
                                     class="@($"icon {(HighlightService.ShouldShowDirection(circuit) ? "selected" : "")}")">
                                    D
                                </div>
                            </div>
                        </div>
                    </GroupTemplate>

                    <RowTemplate Context="cb">
                        <div class="branch-wrapper">
                            <div class="name noselectable-text">Branch <i class="noselectable-text">@(graphBranches.IndexOf(cb.Branch))</i></div>
                            <div class="controls">
                                <div @onclick="() => { }"
                                     @onclick:stopPropagation
                                     class="@($"icon {(HighlightService.ShouldShowDirection(cb.Branch) ? "selected" : "")}")">
                                    D
                                </div>
                            </div>
                        </div>
                    </RowTemplate>

                </BCHSelect>
            }
        </div>

        <div class="equations">
            @foreach (var equationSystem in SchemeService.EquationSystems)
            {
                <div class="separator">
                    <div class="line"></div>
                </div>

                <div class="equation-system-container">
                    <GraphEquationSystemComponent EquationSystem="equationSystem"/>
                </div>
            }
        </div>
    </div>
</div>

<style>
    .equation-inspector > .scroller .circuits > .bch-select-container {
        display: inline-block;
        margin: 5px;
    }
</style>