@using Circuits.ViewModels.Entities.Elements
@using Circuits.Shared.Extensions

@{
    var pos = GetPosition();
}

<div @key="@Resistor"
     draggable="true"
     @ondragenter="() => { }"
     @ondragenter:preventDefault
     @onextdragstart="OnDragStart"
     @onextdragstart:preventDefault="@_dragAllowed"
     @onextdragend="OnDragEnd"
     class="@($"resistor element {(_selectedElement == Resistor ? "selected" : "")} {(_draggingElement == Resistor && _firstDragOver ? "dragging" : "")} {(_eventsDisabled ? "disabled" : "")} {(HighlightService.IsHighlighted(Resistor) ? "highlighted" : "")}")"
     style="@($"left: {pos.X}px; top: {pos.Y}px; width: {GetWidth()}px; transform: translateX(2px) rotate({Resistor.Direction.GetValue<int, DirectionValueAttribute>(x => x.Angle)}deg);")">

    <div @onclick="OnElementClickedAsync"
         @onclick:stopPropagation
         onmousedown="event.stopPropagation()"
         onmousemove="event.preventDefault()"
         class="resistor-content">

        <div class="circle"></div>
        <div class="circle"></div>

        <div class="block"></div>
    </div>

    <ElementDetailsComponent Element="Resistor"/>

</div>

@if (_draggingElement == Resistor && _firstDragOver)
{
    var draggingElement = (Resistor)_draggingElement;
    var dragPos = GetPosition(true);

    <div class="@($"resistor dragged {(_selectedElement == draggingElement ? "selected" : "")} {(HighlightService.IsHighlighted(Resistor) ? "highlighted" : "")}")"
         style="@($"left: {dragPos.X}px; top: {dragPos.Y}px; width: {GetWidth()}px; transform: translate({_draggingPos.X.ToString(_nF)}px, {_draggingPos.Y.ToString(_nF)}px) rotate({Resistor.Direction.GetValue<int, DirectionValueAttribute>(x => x.Angle)}deg);")">

        <div class="resistor-content">
            <div class="circle"></div>
            <div class="circle"></div>

            <div class="block"></div>
        </div>

    </div>
}